:root {
	--shiwaforce: red;
	--black: #000;
	--light-gray: #eee;
	--gray: #888;
}

body, ul, a, h1 {
	color: var(--gray);
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	display: flex;
	font-size: 13px;
	height: 256px;
	width: 512px;
}

.hidden {
	display: none;
}

section {
	padding: 8px 8px 8px 4px;
	width: 100%;
}

nav {
	max-height: 256px;
	overflow-x: hidden;
	overflow-y: auto;
	width: 180px
}

nav ul {
	border-right: 1px solid var(--light-gray);
	height: calc(100% - 16px);
	padding: 8px;
	width: 100px;
}

nav ul li {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

nav ul li a {
	padding: 4px 0;
}

nav ul li a:nth-child(1) {
	width: 100%;
}

nav ul li a:nth-child(2) {
	padding: 4px 0 4px 4px;
}

nav ul li a svg {
	width: 13px;
}

nav ul li.js-active, nav ul li.js-active svg {
	color: var(--black);

}

nav ul li.js-active {
	border-left: 4px solid var(--gray);
	font-weight: bold;
	margin-left: -8px;
	padding-left: 4px;
}

section:not(.js-active) {
	display: none;
}

section > div {
	margin: 13px 0;
}

#statusapp-force-refresh {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
}

#statusapp-force-refresh svg {
	width: 14px;
}

nav li a[rel="open"] {
	position: relative;
}

nav li.js-new a[rel="open"]:after {
	background: var(--shiwaforce);
	border-radius: 50%;
	content: '';
	display: block;
	height: 10px;
	opacity: .5;
	position: absolute;
	right: -2px;
	top: 1px;
	z-index: -1;
	width: 10px;
}

.settings-welcome {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-left: -16px;
}

.settings-welcome img {
	opacity: 0.1;
}

/* logged in state */

body.js-sf nav .js-career { /* aki be van lépve, annak nem fontos a karrier oldal */
	display: none;
}

body:not(.js-sf) nav .js-jira { /* aki nincs belépve, annak nem fontos a jira */
	display: none;
}

/* /logged in state */
